.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.795),
      rgba(40, 180, 133, 0.801)
    ),
    url("../img/hero.jpg");
  height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo {
  height: 35px;

  &-box {
    position: absolute;
    top: 4rem;
    left: 5rem;
  }
}
