.navigation {
  &_checkbox {
    display: none;
  }
  &_menu {
    position: fixed;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    top: 6rem;
    right: 6rem;
    background-color: $color-white;
    z-index: 2000;

    @include responds(tab-port) {
      top: 4rem;
      right: 4rem;
    }
  }
  &_background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary, $color-primary-dark);
    z-index: 1000;
    // transform: scale(85);
    transition: all 0.8s cubic-bezier(0.86, 0, 0.7, 1);
    @include responds(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
  }
  &_nav {
    height: 100vh;
    // width: 100%;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &_item {
    list-style: none;
    margin: 1rem;
    text-align: center;
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      padding: 1rem 2rem;
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 225%;
      transition: all 0.4s;
      display: inline-block;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
  &_checkbox:checked ~ &_background {
    transform: scale(85);
  }
  &_checkbox:checked ~ &_nav {
    width: 100%;
    opacity: 100;
  }
  &_icon {
    position: relative;
    text-align: center;
    margin-top: 3.5rem;
    margin-left: 1.9rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2.5px;
      background-color: $color-grey-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      transition: all 0.3s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &_menu:hover &_icon::before {
    top: -1rem;
  }
  &_menu:hover &_icon::after {
    top: 1rem;
  }
  &_checkbox:checked + &_menu &_icon {
    background-color: transparent;
  }
  &_checkbox:checked + &_menu &_icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &_checkbox:checked + &_menu &_icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  &__link:active & {
    display: none;
  }
}
