.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;

  &_content {
    width: 75%;
    height: 50rem;
    display: table;
    background-color: $color-white;
    @include abs;

    overflow: hidden;
    border-radius: 2px;
    transition: all 0.3s 0.2s;
    transform: translate(-50%, -50%) scale(0.25);
  }
  &_left {
    width: 33.3333%;
    float: left;
    display: table-cell;
  }
  &_image {
    display: block;
    width: 100%;
  }
  &_right {
    float: left;
    width: 66.6666%;
    display: table-cell;

    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &_text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid gray;
    hyphens: auto;
  }
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &_close {
    &:link,
    &:visited {
      text-decoration: none;
      display: inline-block;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      color: gray;
      line-height: 1;
      font-size: 2rem;
      transition: all 0.3s;
    }
    &:hover {
      color: $color-primary;
    }
  }
  &:target &_content {
    transform: translate(-50%, -50%) scale(1);
  }
}
