body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #777;
}
.heading {
  &-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
  }
  &-main {
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    font-weight: 400;
    animation: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include responds(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }
  &-sub {
    display: block;
    letter-spacing: 1.74rem;
    font-size: 2rem;
    font-weight: 400;
    animation: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 6rem;
    @include responds(phone) {
      letter-spacing: 0.8rem;
    }
  }
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  display: inline-block;

  color: transparent;
  transition: all 0.2s;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  @include responds(tab-port) {
    font-size: 3rem;
  }
  @include responds(phone) {
    font-size: 2.5rem;
  }
}
.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}
.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
