.u-center-text {
  text-align: center;
}
.center-text-margin-big {
  margin-bottom: 8rem;
}
.center-text-margin-medium {
  margin-bottom: 5rem !important;
}
.center-text-margin-medium-2 {
  margin-bottom: 4rem !important;
}
.center-text-margin-small {
  margin-bottom: 2rem;
}
.center-text-margin-top-huge {
  margin-top: 10rem;
}
